<li>
  <%= gravatar_for user, size: Settings.views.users.size %>
  <%= link_to user.name, user %>
  <% if can_destroy_user user %>| 
    <%= link_to t("users._user.btn"), user, 
      data: { turbo_method: :delete,
              turbo_confirm: t("users.confirm_delete") }%>
  <% end %>
</li>
