<% provide :title, t("users.index.title") %>
<h1><%= t "users.index.index_name" %></h1>
<%== pagy_bootstrap_nav @pagy %>
<ul class="users">
   <%= render @users %>
</ul>
<%== pagy_bootstrap_nav @pagy %>
