<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container"><%= link_to t('layout.nav.app_name'), "#", id: "logo" %><nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('layout.nav.home'), "#" %></li>
        <li><%= link_to t('layout.nav.help'), "#" %></li>
        <li><%= link_to t('layout.nav.login'), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
